.navbar {
  -webkit-box-shadow: 2px 2px 5px #17a2b8;
          box-shadow: 2px 2px 5px #17a2b8;
  background: #fff;
  opacity: 0.9;
  
}

.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 20px;
}

.navbar .nav-item .nav-link {
  color: #252525;
}

.navbar .nav-item .nav-link:hover {
  color: #329286;
}

.navbar .nav-item:last-child {
  padding-right: 0;
}

#navbarhead:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: rgb(178, 187, 192);
 transform: skew(0deg, 4deg);
 border: 40px solid transparent;
 opacity: 0.5px;
}
#navbarhead:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
 background: rgb(178, 187, 192);
  transform: skew(0deg, -4deg);
  border: 40px solid transparent;
 
}