body {
    background-image: url("./images/shap1.gif");
   
     margin-top: 86px;
   }
   
     a:link {
       color: #5BC0DE;
       text-decoration: none;
     }
   
     a:hover {
       color: rgb(83, 83, 114) ;
     }
     .navbarhead{
       position: relative;
       text-align: center;
       padding: 25px;
       margin-top: 50px;
       background: rgb(178, 187, 192);
     }
   
     .Aboutback{
    background: rgb(178, 187, 192);
    text-align: center;
     }
   
     #portfolio{
       background-color: rgb(46, 43, 43);
       color: white;
       padding-bottom: 5px;
       padding-top: 7px;
       text-align: center;
   }
   
   #portfolio .itemBox:hover{
   
     transform: scale(1.05); 
   }
  .backPort{

    background-color: rgb(46, 43, 43);
   }
   #blackStyle{
    position: relative;
    text-align: center;
    padding: 25px;
    margin-bottom: -10px;
    margin-top: -30px;
   
  }
  #blackStyle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: rgb(46, 43, 43);
   transform: skew(0deg, 4deg);
   border: 20px solid transparent;
   opacity: 0.5px;
  }
  #blackStyle:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
   background: rgb(46, 43, 43);
    transform: skew(0deg, -4deg);
    border: 20px solid transparent;
   
  }
  .skillBack{
    background-color:rgb(178, 187, 192); 
    text-align: center;
    padding-bottom: 5px;
    padding-top: 40px;
  }
  @media (max-width: 579px) {
    #showcase h1 {
      font-size: 4rem;
    }
  }